In [6]:
import pandas as pd
import matplotlib as mpl
import seaborn as sns
import matplotlib.pyplot as plt
import pycountry
from pprint import pprint
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import plotly
import numpy as np


sns.set_context("talk")
plt.style.use('ggplot')
mpl.rcParams['axes.labelpad']='20'

In [7]:
df = pd.read_csv("../datos/altura_2016.csv")

In [8]:
columns = ["Country", "Year of birth", "Sex", "altura"]
df = df.loc[:,columns]
js, js_men, js_women = {}, {}, {}
for i, year in enumerate(df["Year of birth"]):
    try:
        js[str(year)].append(df.loc[i,"altura"])
    except Exception:
        js[str(year)] = [df.loc[i,"altura"]]
    if df.loc[i,"Sex"] == "Men":
        try:
            js_men[str(year)].append(df.loc[i,"altura"])
        except Exception:
            js_men[str(year)] = [df.loc[i,"altura"]]
    else:
        try:
            js_women[str(year)].append(df.loc[i,"altura"])
        except Exception:
            js_women[str(year)] = [df.loc[i,"altura"]]
js_mean, js_men_mean, js_women_mean = {}, {}, {}
for ano in js.keys():
    js_mean[ano] = np.mean(js[ano])
for ano in js_men.keys():
    js_men_mean[ano] = np.mean(js_men[ano])
for ano in js_women.keys():
    js_women_mean[ano] = np.mean(js_women[ano])
    
#pprint(js)
#pprint(js_mean)
df.head()

       Country  Year of birth  Sex      altura
0  Afghanistan           1896  Men  161.164095
1  Afghanistan           1897  Men  161.196286
2  Afghanistan           1898  Men  161.228297
3  Afghanistan           1899  Men  161.260727
4  Afghanistan           1900  Men  161.293068

In [9]:
titulo = "Altura Mundial Promedio a través de los años"

x1 = list(js_mean.keys())
y1 = list(js_mean.values())
x2 = list(js_men_mean.keys())
y2 = list(js_men_mean.values())
x3 = list(js_women_mean.keys())
y3 = list(js_women_mean.values())

trace1 = go.Scatter(x=x1, y=y1, name='Promedio', marker=dict(color='red'))
trace2 = go.Scatter(x=x2, y=y2, name='Hombres', marker=dict(color='blue'))
trace3 = go.Scatter(x=x3, y=y3, name='Mujeres', marker=dict(color='black'))

data = [trace1,trace2,trace3]

layout = go.Layout(
    title=titulo,
    xaxis=dict(
        title='Año',
    ),
    yaxis=dict(
        showticklabels=True,
        title='Altura (cm)',
    ),
    yaxis2=dict(
        showticklabels=True,
        title='Altura (cm)',
    ),
    yaxis3=dict(
        showticklabels=True,
        title='Altura (cm)',
    )
)

fig = go.Figure(data=data, layout=layout)
plotly.offline.plot(fig, filename='altura.html')

'altura.html'